/* Global Styles */
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Anton", sans-serif;
  color: white;
  background-color: #000;
}

body {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.hero {
  position: relative;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  margin-top: 6rem;
  padding: 1rem;
  padding-bottom: 0;
}

.hero:hover {
  --active: 1;
}

.hero:after {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(
    circle at calc(var(--x) * 1px) calc(var(--y) * 1px),
    hsla(0, 0%, 100%, 0.317),
    transparent 20vmin
  );
  background-attachment: fixed;
  opacity: var(--active, 0);
  transition: opacity 0.2s;
  pointer-events: none;
}

.hero-title {
  width: 100%;
  max-width: 700px;
  height: auto;
  border-radius: 10px;
  margin-top: 5rem;
}

.hero-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#dynamic-words {
  display: inline-block;
  animation: flash 3s linear infinite;
  font-size: 1.5rem;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.hero-image {
  object-fit: scale-down;
}

.hero-right {
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-button {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  color: white;
  font-family: "Anton", sans-serif;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 2rem;
  z-index: 5;
}

.menu-page {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 50, 0.9);
  z-index: 10;
  text-align: center;
  padding-top: 5%;
  color: #dcdcdc;
}

.menu-page a {
  display: block;
  margin: 1rem 0;
  font-size: 1.5rem;
  text-decoration: none;
  color: #dcdcdc;
}

.left-svg {
  display: none;
  position: absolute;
  left: 25px;
  top: 1000px;
  width: calc((100vw - 1380px) / 2);
  height: auto;
}

.right-svg {
  display: none;
  position: absolute;
  right: 5px;
  top: 2000px;
  width: calc((100vw - 1380px) / 2);
  height: auto;
}

/* About Section */
.about-section {
  padding: 4rem;
  background: url("/assets/photos/brentdesk.webp") no-repeat center center fixed;
  background-size: cover;
  color: whitesmoke;
  font-family: "Georgia", serif;
  line-height: 1.8;
}

.section-header {
  text-align: center;
  font-size: 3rem;
  margin-top: 7rem;
  margin-bottom: 3rem;
}

.about-content p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

/* Books Section */
.books-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  justify-content: center;
  padding: 20px;
  background-color: #111;
}

.books-section-header {
  font-size: 5rem; /* Center-aligned and larger title */
  text-align: center;
  margin-bottom: 3rem;
}

.books-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  margin-top: 0.1rem; /* Reduced gap between About and Books */
}

.book-card {
  width: 100%;
  max-width: 300px;
  text-align: center;
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.book-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.book-card img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.book-title {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  color: #222;
  margin-bottom: 0.5rem;
}

.book-author {
  font-size: 1.2rem;
  color: #555;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.book-description {
  font-style: italic;
  font-size: 1rem;
  color: #666;
  margin-bottom: 1rem;
}

/* Gallery Section */

.gallery-section {
  margin-top: -8rem; /* Reduced gap between Books and Photography */
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.gallery-section-header {
  font-size: 5rem;
  text-align: center;
  margin-bottom: 0.2rem;
}

.contact-section {
  padding: 2rem;
  text-align: center;
}

.contact-link-text {
  font-size: 2rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: whitesmoke;
}

.contact-link-img {
  height: auto;
  width: 4rem;
}
